{% extends 'base.html.twig' %}

{% block title %}Nouveau Patient{% endblock %}

{% block body %}
    <div class="card-header text-center"><h1>Ajouter Patient</h1></div>

    {{ include('patient/_form.html.twig') }}

{% endblock %}
