{% extends 'base.html.twig' %}

{% block title %}Nouveau Consultation{% endblock %}

{% block body %}
    <div class="card-header text-center"><h1>Ajouter une Consultation</h1></div>

    {{ include('consultation/_form.html.twig') }}

{% endblock %}
